@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            <span class="ms-1">@User.Identity?.Name</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                    <i class="bi bi-person"></i>
                    <span class="ms-2">Profile</span>
                </a>
            </li>
            <li><a class="dropdown-item" asp-controller="Cards" asp-action="MyCards"><i class="bi bi-collection me-2"></i>My Cards</a></li>
            <li><a class="dropdown-item" asp-controller="Transactions" asp-action="Index"><i class="bi bi-arrow-left-right me-2"></i>My Trades</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Index">
                        <i class="bi bi-shield-lock"></i>
                        <span class="ms-2">Admin Dashboard</span>
                    </a>
                </li>
            }
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="dropdown-item">
                        <i class="bi bi-box-arrow-right"></i>
                        <span class="ms-2">Logout</span>
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus"></i>
            <span class="ms-1">Register</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i>
            <span class="ms-1">Login</span>
        </a>
    </li>
}
</ul> 